/* Base styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url(https://i.imgur.com/sMuo4QT.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.loginform {
  width: 90%;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  
}

.loginform form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.loginform input {
  width: calc(100% - 1rem);
  font-size: 12px;
  height: 2em;
  border: none;
  outline: none;
  background: transparent;
  
}

.submit {
  width: 20.1rem;
  padding: 1rem;
  background-color: #000135;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.submit:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.inputWithIcon {
  position: relative;
  display: block;
  background-color:transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
 
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  width: calc(30rem - 10rem);
  
  box-sizing: border-box; 
}




.eyeIcon{
  position: absolute;
  top: 2.3rem;
  right: 1rem;
  transform: translateY(-85%) !important;
  font-size: 1.25rem;
} 
@media screen and (max-width: 769px) {
  .loginform {
    width: 100%;
    padding: 100px;
  }
}




.google {
 
 font-size: 2rem;
 transform: translateY(-2.5rem);
}

.butcolor {
  padding: 1rem;
  justify-content: center;
  background-color: transparent;
  color: #020412;
  font-size: 1rem;
 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  width: 20.6rem;
  
  margin: -1%;
  margin-top: 10%;
}



@media screen and (max-width: 992px) { 
 
.loginform {
    width: 100%; 
    padding: 20px;
    
  }
 
.loginform input {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
   .loginform {/*this for mobile size - any error ocurred ajust this  to solve in view */
    padding: 10px;
  }
  
  .submit {
    font-size: 0.9rem; 
  }
  body {
    background-image: none; 
    background-color: white;  
  }
}
@media screen and (max-width: 1024px) { 
 
  .loginform {
    padding: 10px;
  }
  
  .loginform input {
    padding: 10px;
  }
  body {
    background-image: none; 
    background-color: white;  
  }
}


